

.header-container {
    flex: 1;
    padding: 0px ;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    background-color: black;
    top: 0;
}

.header-container ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}


